body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 15px;
    line-height: 19px;
    margin: 0;
}

.main-footer {
    background-color: #1e1a2b;
    color: #ffffff;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    padding: 70px 80px 96px 80px;
}

.footer-column {
    width: 300px;
}

.logo {
    /* Отступы логотипа */
    margin-top: 0;
    margin-bottom: 30px;

    /* Размеры логотипа */
    width: 130px;
    height: 46px;
}

.footer-info a {
    color: #ffffff;
}

.footer-navigation-topics {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-navigation-topic {
    width: 160px;
}

.footer-navigation-topic h2 {
    font-size: 20px;
    line-height: 46px;
}

.footer-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-navigation-item a {
    color: #ffffff;
    text-decoration: none;
}
