body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 15px;
    line-height: 19px;
    margin: 0;
}

.main-footer {
    background-color: #1e1a2b;
    color: #ffffff;
}

.footer-container {
    width: 1280px;
    margin: 0 auto;
    padding: 70px 80px 96px 80px;
}

.footer-info a {
    color: #ffffff;
}

.footer-navigation-topic h2 {
    font-size: 20px;
    line-height: 46px;
}

.footer-navigation-item a {
    color: #ffffff;
    text-decoration: none;
}
